#playButton {
	-fx-background-image: url('file:files/ui/playButton.png');
}

#playButton:hover {
	-fx-background-image: url('file:files/ui/playButton2.png');
}

#playButton:pressed {
	-fx-background-image: url('file:files/ui/playButton3.png');
}

#topButton {
	-fx-background-image: url('file:files/ui/topButton.png');
}

#topButton:hover {
	-fx-background-image: url('file:files/ui/topButton2.png');
}

#topButton:pressed {
	-fx-background-image: url('file:files/ui/topButton3.png');
}

#exitButton {
	-fx-background-image: url('file:files/ui/exitButton.png');
}

#exitButton:hover {
	-fx-background-image: url('file:files/ui/exitButton2.png');
}

#exitButton:pressed {
	-fx-background-image: url('file:files/ui/exitButton3.png');
}

.text-area {
	-fx-text-fill: #b8fffe;
	-fx-background-color: rgba(53,89,119,0.4);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

#returnButton {
	-fx-background-image: url('file:files/ui/xButton.png');
}

#returnButton:hover {
	-fx-background-image: url('file:files/ui/xButton2.png');
}

#returnButton:pressed {
	-fx-background-image: url('file:files/ui/xButton3.png');
}